= error_messages_for :question 

- remote_form_for :question, :url  => questions_path ,                    |
  :html => { :name => "question_form"},                                   |
  :loading  => transparent_message_show('ajax_info_message'),             |
  :complete => transparent_message_hide('ajax_info_message') do |f|       |
  
  .optional_field
    %label My question is...
    = f.text_area :text, :cols => 35

  - fields_for @questioner do |q|
    .optional_field
      %label My name is...
      = q.text_field :full_name

    .optional_field
      %label My age is..
      = q.text_field :age, :size => 2

    .optional_field
      %label My city is...
      = q.text_field :city, :size => 15

    .optional_field
      %label My state is...
      = q.text_field :state, :size => 18 

    .optional_field
      %label My school is...
      = q.text_field :school 

    .optional_field
      %p If you'd like us to send you an email when we answer your question, enter your email address here...
    
    .optional_field
      %label Email address:
      = q.text_field :email  

  %br
  = submit_tag "Ask", :class => "button"
  = image_tag 'indicator.gif', :id => 'form_indicator', :style => "display: none; float: right; border: none; margin-top: -15px;"
