- content_for :body do

  %table.list-table
    %tr
      %th Asked by
      %th Age
      %th Question
      %th{:style => "align: center;"} Answered?
  
    - for question in @questions
      %tr{:id => dom_id(question)}
        %td= byline(question)
        %td= question.child_age
        %td= link_to truncate(question.question), :controller => "answers", :question_id => question, :action => "new"
        %td{:align => "center"}
          - if question.answered?
            = icon('lightbulb', :style => "border: none;")
          - else 
            = icon('lightbulb_off', :style => "border: none;")
        = action_links question, :edit_icon => 'comment_edit', :delete_class => 'question-delete-button'
          
  = transparent_message_create("ajax_info_message", "Processing...<br/><br/>", "/images/large-loader.gif")
  = transparent_flash_message
  
- content_for :sidebar do

  %h3 Questions
  
  %ul.sidemenu
    %li.manage_questions= link_to "Manage questions", questions_path
    
  = render :partial => 'shared/sidebar'
